/* Animations loader */

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes rotate_left {
    from {
        transform: rotate(16deg)
    }

    to {
        transform: rotate(376deg)
    }
}

@keyframes rotate_right {
    from {
        transform: rotate(4deg)
    }

    to {
        transform: rotate(364deg)
    }
}