/* Variables loader */

$pink: #f98db9;
$blue: #97ddff;
$yellow: #ffcd66;
$font: 'Roboto', sans-serif;
$heading: rgb(87, 110, 129);
$sub: #F98DB9;

// size
$base-font-size: 16 !default;

// stack
$font-stack: "Roboto", sans-serif;

// colors 
$black: rgba(0, 0, 0, 1);
$white: #FFF;
$primary-color: #9356dc;
$secondary-color: #ff79da;
$Tertiary-color: #99e2d0;
$clic-color: #89c8fa;
$btn-linear-gradient: linear-gradient(0deg, $primary-color, $secondary-color);

// font-color
$background-color: rgba(255, 255, 255, 1);
$font-color: #f8f9f9;
$font-input: rgba(234, 234, 234, 1);
$font-new: #2c9c81;
$font-footer: rgba(53, 53, 53, 1);