/****** General ***********/
* {
  font-family: "Shrikhand", serif;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

/****** Header ***********/
.header {
  height: 63px;
  background-color: $background-color;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.header img {
  width: 197px;
  height: 36px;
  padding-left: 60px;
  padding-top: 14px;
}

/****** Pages menus ***********/
.header-button {
  position: absolute;
  padding-top: 17px;
  padding-left: 17px;
  font-size: 20px;
}

.header-arrow {
  color: $black;
}

.banniere_1 {
  background-image: url("../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  padding: 113px;
  background-size: cover;
  background-position: left top;
}

.banniere_2 {
  background-image: url("../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  padding: 113px;
  background-size: cover;
  background-position: right;
}

.banniere_3 {
  background-image: url("../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  padding: 113px;
  background-size: cover;
  background-position: left top;
}

.banniere_4 {
  background-image: url("../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  padding: 113px;
  background-size: cover;
  background-position: left top;
}

.container-menu {
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  background-color: rgb(246, 246, 246);
  padding-top: 15px;
  padding-bottom: 40px;
  position: relative;
  margin-top: -49px;
}

.title-menu {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 28px;
  font-style: italic;
  line-height: 40px;
  margin: 15px 0 15px 0;
  padding-left: 10px;
}

.liked2 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 50px;
}

.menu-liked--outline1 {
  position: absolute;
  margin-top: -75px;
  margin-right: -215px;
  font-size: 22px;
}

.menu-liked--solid2 {
  font-size: 22px;
  margin-top: -75px;
  margin-right: -215px;
  background: $btn-linear-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 500ms ease-in-out;
}

.liked2:hover .menu-liked--outline1 {
  opacity: 0;
}

.liked2:hover .menu-liked--solid2 {
  opacity: 1;
}

.menu-liked--outline1:before {
  background-color: $white;
}

.menu-category-title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-left: 13px;
}

.entries:after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: $tertiary-color;
  position: absolute;
  margin-left: -66px;
  margin-top: 27px;
}

.dishes:after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: $tertiary-color;
  position: absolute;
  margin-left: -45px;
  margin-top: 27px;
}

.desserts:after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: $tertiary-color;
  position: absolute;
  margin-left: -74px;
  margin-top: 27px;
}

.click-button {
  color: $clic-color;
  opacity: 1;
}

.dish-category {
  width: 95%;
  margin: auto;
  overflow: hidden;
  display: flex;
  border-radius: 15.04px;
  background-color: $white;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
  margin-top: 17px;
  opacity: 0;
  animation: dish-category ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0.7s;
}

@keyframes dish-category {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dish-category-container {
  width: 100%;
  padding-bottom: 15px;
  white-space: nowrap;
  display: flex;
  align-items: flex-end;
  transition: 1s;
}

.dish-category-title {
  flex: 1;
  margin-left: 10px;
  overflow: hidden;
}

.dish-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.09px;
  margin-bottom: -10px;
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dish-ingredient {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 17.63px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dish-price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15.04px;
  line-height: 17.63px;
  text-align: end;
  margin: 0;
  margin-right: 10px;
}

.check {
  transition: 1s;
  width: 80px;
  height: 100%;
  margin-right: -80px;
  background-color: $tertiary-color;
}

.dish-category:hover .check {
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dish-category:hover .dish-category-container {
  width: calc(100% - 80px);
  transition: 1s;
}

.fa-circle-check {
  padding: 25px 25px 25px 20px;
  color: $white;
}

.menu-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $white;
  padding: 13px;
  border-radius: 25px;
  border: none;
  background: $btn-linear-gradient;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  margin-top: 50px;
  width: 60%;
  margin-left: 65px;
}

.menu-btn:hover {
  opacity: 0.83;
}

/****** footer ***********/
.footer {
  width: 100%;
  background-color: $font-footer;
}

.container-list {
  padding: 22px 25px 22px 25px;
}

.logo-footer {
  width: 139px;
  filter: invert(1);
}

.liens-footer {
  color: $white;
  list-style: none;
  padding-left: 3px;
}

.second-lien {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18.75px;
}

.liens {
  font-weight: 500;
}

.lien {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/****** Medias Queries homepage ***********/
/* big devices (desktop) */
@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header img {
    padding-left: 0;
  }

  .liked {
    margin-left: 200px;
  }

  .container-list {
    padding: 50px 0 25px 50px;
  }

  .logo-footer {
    float: right;
    margin-top: 30px;
    margin-right: 80px;
  }

  .liens-footer {
    display: grid;
    grid-template-columns: repeat(4, 190px);
    padding-left: 515px;
  }

  .lien2 {
    margin-left: -52px;
    padding-top: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .liked {
    margin-left: 547px;
  }

  .logo-footer {
    float: left;
    margin-top: -26px;
  }

  .liens-footer {
    padding-left: 0px;
    text-align: center;
  }
}

/****** Medias Queries ***********/
/* big devices (desktop, less/equal than 1440px) */
@media screen and (min-width: 1024px) {
  .header-button {
    margin-left: -620px;
  }

  .banniere_1 {
    width: 1440px;
    height: 588px;
    margin-top: -256px;
    margin-left: -127px;
  }

  .banniere_2 {
    width: 1440px;
    height: 588px;
    margin-top: -390px;
    margin-left: -127px;
  }

  .banniere_3 {
    width: 1440px;
    height: 588px;
    margin-top: -390px;
    margin-left: -127px;
  }

  .banniere_4 {
    width: 1440px;
    height: 588px;
    margin-top: -390px;
    margin-left: -127px;
  }

  .container-menu {
    margin: -32px 152px 0 152px;
  }

  .title-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .liked2 {
    padding-left: 120px;
  }

  .menu-category {
    width: 634px;
    height: 270px;
    padding-left: 267px;
    margin: 40px;
  }

  .menu-category4 {
    width: 634px;
    height: 270px;
    padding-left: 267px;
    margin: 40px;
    padding-top: 57px;
  }

  .menu-category-title {
    margin-bottom: 20px;
  }

  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 50px;
    margin-left: 515px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header-img {
    padding-left: 247px;
  }

  .banniere_1 {
    width: 100%;
    height: 305px;
    margin-top: -175px;
    margin-left: -107px;
  }

  .banniere_2 {
    width: 100%;
    height: 305px;
    margin-top: -175px;
    margin-left: -107px;
  }

  .banniere_3 {
    width: 100%;
    height: 305px;
    margin-top: -175px;
    margin-left: -107px;
  }

  .banniere_4 {
    width: 100%;
    height: 305px;
    margin-top: -175px;
    margin-left: -107px;
  }

  .container-menu {
    margin: 56px;
    margin-top: -50px;
    margin-bottom: 0;
  }

  .title-menu {
    padding-left: 160px;
  }

  .menu-category {
    margin: 28px;
  }

  .menu-category4 {
    margin: 30px;
    padding-top: 57px;
  }

  .menu-category-title {
    margin-left: 40px;
  }

  .dish-category {
    margin-left: 40px;
  }

  .menu-btn {
    margin-left: 137px;
  }

  .container-list {
    padding: 50px 25px 22px 25px;
  }

  .liens-footer {
    text-align: left;
  }
}

/*# sourceMappingURL=restaurantstyle.css.map */