/****** General ***********/

* {
  font-family: "Shrikhand", serif;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

/****** mobile first ***********/
/****** loader ***********/

.cs-loader {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  z-index: 9999;
  animation: 0s linear 2.3s forwards fadeout;
  opacity: 0.8;
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}
.cs-loader-inner {
  color: #2c9c81;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 30px;
  display: inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
.cs-loader-inner label:nth-child(5) {
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  animation: lol 3s 500ms infinite ease-in-out;
}

/****** Header ***********/
.header {
  height: 63px;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_img {
  width: 197px;
  height: 36px;
}

.title-logo {
  font-family: "Shrikhand", serif;
  font-size: 30px;
  margin-left: 16px;
  display: none;
}

/****** localisation ***********/

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #eaeaea;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-left: -0.5px;
  margin-top: 3.5px;
}

.local-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.local-text {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 16px;
  border: none;
  background: rgba(234, 234, 234);
}

/****** decouverte menu ***********/

.menu-choice {
  background: #f8f9f9;
  margin-left: -8.5px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.menu {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.menu-title {
  font-weight: 700;
  line-height: 28.13px;
  font-size: 24px;
}

.menu-subtitle {
  font-weight: 300;
  font-size: 18px;
  height: 48px;
  padding-left: 12px;
}

.text-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.text-button {
  display: inline-block;
  font-weight: 500;
  font-size: 16;
  color: #fff;
  padding: 13px;
  border-radius: 32px;
  border: none;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  text-decoration: none;
}

.text-button:hover {
  opacity: 0.83;
}

/****** fonctionnement ***********/

.tuto-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-left: 20px;
  margin-top: 40px;
}

.tuto-buttons {
  margin-bottom: 50px;
}

.tuto-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #f8f9f9;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  margin: 20px;
  height: 72.5px;
}

.tuto-number {
  background: #9356dc;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  position: absolute;
  margin-left: -100%;
}

.number {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-left: -12px;
  margin-top: 4px;
  padding: 0 20px 0 20px;
}

.tuto {
  margin: 0;
}

.tuto-icon {
  color: #7e7e7e;
}

.tuto-color {
  color: rgba(147, 86, 220);
}

.tuto-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 20px;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

/****** restaurants ***********/

.section-cards {
  background-color: #f8f9f9;
  width: 90%;
  padding: 60px;
  padding-top: 20px;
  padding-left: 18px;
}

.restaurants-cards {
  margin: 0;
}

.card {
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
}

.lien-card {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  height: 251px;
  position: relative;
}

.new {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  border-radius: 2px;
  padding: 10px;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  color: #2c9c81;
  margin: 0;
}

.card-img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 174px;
}

.img-card {
  -o-object-fit: cover;
  object-fit: cover;
}

.cards {
  font-family: "Roboto", sans-serif;
  padding-left: 13px;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: -12px;
  margin-top: 10px;
}

.card-subtitle {
  font-weight: 300;
  font-size: 17px;
  line-height: 19.92px;
  padding-bottom: 15px;
}

.liked {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  padding-left: 220px;
}

.like {
  font-size: 22px;
  margin-top: -75px;
  margin-right: -68px;
}

.menu-liked--outline {
  position: absolute;
  transition: 2s;
}

.menu-liked--solid {
  background: linear-gradient(160deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 500ms ease-in-out;
  opacity: 0;
}

.liked:hover .menu-liked--outline {
  opacity: 0;
}

.liked:hover .menu-liked--solid {
  opacity: 1;
}

.menu-liked--outline:before {
  background-color: white;
}

/****** footer ***********/

.footer {
  width: 100%;
  background-color: rgba(53, 53, 53);
}

.container-list {
  padding: 22px 25px 22px 25px;
}

.logo-footer {
  width: 139px;
  filter: invert(1);
}

.liens-footer {
  color: #fff;
  list-style: none;
  padding-left: 3px;
}

.second-lien {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18.75px;
}

.liens {
  font-weight: 500;
}

.lien {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/****** Medias Queries homepage ***********/

/* big devices (desktop) */
@media screen and (min-width: 1024px) {
  .menu-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .function {
    padding: 50px 180px 50px 50px;
  }
  .tuto-title {
    margin-left: 135px;
  }
  .tuto-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 88px;
  }
  .tuto-button {
    height: 72.5px;
    padding-right: 50px;
  }
  .tuto-number {
    margin-right: -47px;
  }
  .tuto-icon {
    padding-right: 14px;
    margin: 0 0 0 30px;
  }
  .tuto-color {
    margin: 0 12px 0 25px;
  }
  .tuto-text {
    margin-left: -20px;
  }
  .section-title {
    margin-left: 65px;
    margin-top: -22px;
  }
  .section-cards {
    padding: 50px 180px 50px 130px;
  }
  .restaurants-cards {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
  }
  .card {
    margin: 50px;
    width: 490px;
  }
  .card-img {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .liked {
    margin-left: 200px;
  }
  .container-list {
    padding: 50px 0 25px 50px;
  }
  .logo-footer {
    float: right;
    margin-top: 30px;
    margin-right: 80px;
  }
  .liens-footer {
    display: grid;
    grid-template-columns: repeat(4, 190px);
    padding-left: 515px;
  }
  .lien2 {
    padding-top: 15px;
    margin-left: -45px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .text-button {
    margin-left: 20px;
  }
  .function {
    padding: 40px 45px 40px 30px;
  }
  .tuto-title {
    margin-left: 0;
  }
  .tuto-buttons {
    display: inline;
  }
  .section-title {
    margin-left: 25px;
  }
  .section-cards {
    padding: 40px 80px 0 0;
  }
  .restaurants-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .card {
    width: 100%;
    margin: 30px;
  }
  .card-img {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .liked {
    margin-left: 547px;
  }
  .like {
    margin-left: -314px;
  }
  .logo-footer {
    float: left;
    margin-top: -26px;
  }
  .liens-footer {
    padding-left: 0px;
    text-align: center;
  }
}
