/****** General ***********/

* {
  font-family: "Shrikhand", serif;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

/****** mobile first ***********/

/****** Header ***********/
.header {
  height: 63px;
  background-color: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.title-logo {
  font-family: "Shrikhand", serif;
  font-size: 30px;
  margin-left: 16px;
  display: none;
}

.header img {
  width: 197px;
  height: 36px;
  padding-left: 60px;
  padding-top: 14px;
}

/****** localisation ***********/

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #eaeaea;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-left: -0.5px;
  margin-top: 3.5px;
}
.local-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.local-text {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 16px;
  border: none;
  background: rgba(234, 234, 234, 1);
}

/****** decouverte menu ***********/

.menu-choice {
  background: #f8f9f9;
  margin-left: -8.5px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.menu-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 28.13px;
  font-size: 24px;
}

.menu-subtitle {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  height: 48px;
  padding-left: 12px;
}

.text-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding: 13px;
  border-radius: 32px;
  border: none;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  margin-top: 30px;
  margin-left: 65px;
  text-decoration: none;
}

.text-button:hover {
  opacity: 0.83;
}

/****** fonctionnement ***********/

.tuto-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-left: 20px;
  margin-top: 40px;
}

.tuto-buttons {
  margin-bottom: 50px;
}

.tuto-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: rgba(246, 246, 246, 1);
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  margin: 20px;
}
.tuto-number {
  background: #9356dc;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  position: absolute;
  margin-left: -100%;
}
.number {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-left: -12px;
  margin-top: 4px;
  padding: 0 20px 0 20px;
}
.tuto-icon {
  color: #7e7e7e;
  margin: 0;
}
.tuto-color {
  margin: 0;
  color: rgba(147, 86, 220, 1);
}

.tuto-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 20px;
  margin: 0;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

/****** restaurants ***********/

.section-cards {
  background-color: #f8f9f9;
  width: 90%;
  padding: 60px;
  padding-top: 20px;
  padding-left: 18px;
}

.restaurants-cards {
  margin: 0;
}

.card {
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: white;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
}

.lien-card {
  text-decoration: none;
  color: black;
}

.new {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  border-radius: 2px;
  padding: 10px;
  background-color: #99e2d0;
  color: #2c9c81;
  margin-left: 197px;
}

.card-img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 182px;
}

.img-card {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 182px;
  object-fit: cover;
}

.card-txt {
  margin-bottom: -22px;
}

.card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: -12px;
  padding-left: 13px;
  margin-top: 10px;
}

.card-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 19.92px;
  padding-left: 13px;
  padding-bottom: 15px;
}

.liked {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-liked--outline {
  position: absolute;
  margin-top: -75px;
  margin-right: -215px;
  font-size: 22px;
}

.menu-liked--solid {
  font-size: 22px;
  margin-top: -75px;
  margin-right: -215px;
  background: linear-gradient(160deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 500ms ease-in-out;
}
.liked:hover .menu-liked--outline {
  opacity: 0;
}
.liked:hover .menu-liked--solid {
  opacity: 1;
}

.menu-liked--outline:before {
  background-color: white;
}

/****** footer ***********/

.footer {
  width: 100%;
  background-color: rgba(53, 53, 53, 1);
}

.container-list {
  padding: 22px 25px 22px 25px;
}

.logo-footer {
  width: 139px;
  filter: invert(1);
}

.liens-footer {
  color: white;
  list-style: none;
  padding-left: 3px;
}

.liens {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
}

.lien {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

/****** Medias Queries homepage ***********/

/* big devices (desktop) */
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header img {
    padding-left: 0;
  }

  .menu-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fonction {
    padding: 50px 180px 50px 50px;
  }

  .tuto-title {
    margin-left: 135px;
  }

  .tuto-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 88px;
  }

  .tuto-button {
    height: 72.5px;
    padding-right: 50px;
  }

  .tuto-number {
    margin-right: -47px;
  }

  .tuto-icon {
    padding-right: 14px;
    margin: 0 0 0 30px;
  }

  .tuto-color {
    margin: 0 20px 0 25px;
  }

  .tuto-text {
    margin-left: -20px;
  }

  .section-title {
    margin-left: 65px;
    margin-top: -22px;
  }

  .section-cards {
    padding: 50px 180px 50px 130px;
  }

  .restaurants-cards {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
  }
  .card {
    margin: 50px;
    width: 490px;
  }

  .new {
    margin: 10px 0 0 400px;
  }

  .card-img {
    height: 231px;
    object-fit: cover;
  }

  .img-card {
    height: 231px;
  }

  .liked {
    margin-left: 200px;
  }

  .container-list {
    padding: 50px 0 25px 50px;
  }
  .logo-footer {
    float: right;
    margin-top: 30px;
    margin-right: 80px;
  }

  .liens-footer {
    display: grid;
    grid-template-columns: repeat(4, 190px);
    padding-left: 515px;
  }
  .lien2 {
    margin-left: -52px;
  }
}
@media screen and (max-width: 767px) {
  .new {
    margin-left: 604px;
  }
  .card-img {
    object-fit: cover;
  }

  .liked {
    width: 152%;
  }
}

/****** Pages menus ***********/

.header-button {
  position: absolute;
  padding-top: 17px;
  padding-left: 17px;
  font-size: 20px;
}

.header-arrow {
  color: black;
}

.banniere1 {
  background-image: url("assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  padding: 113px;
  background-size: cover;
  background-position: left top;
}

.banniere2 {
  background-image: url("assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  padding: 113px;
  background-size: cover;
  background-position: right;
}
.banniere3 {
  background-image: url("assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  padding: 113px;
  background-size: cover;
  background-position: left top;
}

.banniere4 {
  background-image: url("assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  padding: 113px;
  background-size: cover;
  background-position: left top;
}

.container-menu {
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  background-color: rgba(246, 246, 246, 1);
  padding-top: 15px;
  padding-bottom: 40px;
  position: relative;
  margin-top: -49px;
}

.title-menu {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 28px;
  font-style: italic;
  line-height: 40px;
  margin: 15px 0 15px 0;
  padding-left: 10px;
}

.liked2 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 50px;
}

.menu-liked--outline1 {
  position: absolute;
  margin-top: -75px;
  margin-right: -215px;
  font-size: 22px;
}

.menu-liked--solid2 {
  font-size: 22px;
  margin-top: -75px;
  margin-right: -215px;
  background: linear-gradient(160deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 500ms ease-in-out;
}
.liked2:hover .menu-liked--outline1 {
  opacity: 0;
}
.liked2:hover .menu-liked--solid2 {
  opacity: 1;
}

.menu-liked--outline1:before {
  background-color: white;
}

.menu-category-title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.entries:after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  margin-left: -66px;
  margin-top: 27px;
}

.dishes:after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  margin-left: -45px;
  margin-top: 27px;
}

.desserts:after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  margin-left: -74px;
  margin-top: 27px;
}

.dish-category {
  width: 90%;
  overflow: hidden;
  display: flex;
  border-radius: 15.04px;
  background-color: white;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  margin-top: 17px;
}
.dish-category-container {
  width: 100%;
  padding-bottom: 15px;
}
.dish-category-title {
  flex: 1;
  margin-left: -20px;
}

.dish-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.09px;
  margin-bottom: -10px;
  margin-top: 10px;
}

.dish-ingredient {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 17.63px;
  margin-bottom: 0;
}

.dish-price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15.04px;
  line-height: 17.63px;
  text-align: end;
  margin: 0;
  margin-right: 10px;
  margin-top: -20px;
}

.check {
  transition: 1s;
  width: 80px;
  height: 100%;
  margin-right: -80px;
  background-color: #99e2d0;
}

.dish-category:hover .check {
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-circle-check {
  padding: 25px 25px 25px 20px;
  color: white;
}

.menu-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding: 13px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  margin-top: 50px;
  width: 60%;
  margin-left: 65px;
}

.menu-btn:hover {
  opacity: 0.83;
}

/****** Medias Queries ***********/

/* big devices (desktop, less/equal than 1440px) */
@media (min-width: 768px) {
  .header-button {
    margin-left: -620px;
  }

  .banniere1 {
    width: 1440px;
    height: 588px;
    margin-top: -256px;
    margin-left: -127px;
  }

  .banniere2 {
    width: 1440px;
    height: 588px;
    margin-top: -390px;
    margin-left: -127px;
  }

  .banniere3 {
    width: 1440px;
    height: 588px;
    margin-top: -390px;
    margin-left: -127px;
  }

  .banniere4 {
    width: 1440px;
    height: 588px;
    margin-top: -390px;
    margin-left: -127px;
  }

  .container-menu {
    margin: -32px 152px 0 152px;
  }

  .title-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .liked2 {
    padding-left: 120px;
  }

  .menu-category {
    width: 634px;
    height: 270px;
    padding-left: 267px;
    margin: 40px;
  }

  .menu-category-title {
    margin-bottom: 20px;
  }

  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 50px;
    margin-left: 515px;
  }
}
